@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0 0 20px;
  color: white;
}

h3 {
  font-size: 32px;
}
